<div class="row">
    <div class="col">
       <app-input (onEnter)="buscar($event)"
                  (onDebounce)="sugerencias($event)"
                  placeholder="Buscar pais..."
               
       ></app-input>
    </div>
</div>

<ul class="list-group">
    <li *ngFor="let item of paisesSugeridos" class="list-group-item list-group-item-action">
                   {{item.name.common}}
    </li>
</ul>

<hr>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con ese valor
</div>

<div class="row" *ngIf="resultado.length > 0">
    <div class="col">

       <app-tabla [resultadoHijo]="resultado"></app-tabla>
    </div>
</div>